.game-container {
  transition: background-color 0.5s;
  background-color: #999;

  &.game-running {
    background-color: #555;
  }

  &.playing-sequence {
    background-color: #333;
  }
}

.game-buttons {
  padding: 2em;
}

[simon-button] {
  margin: 1em;
  transition: all 0.2s;

  &.flashing {
    box-shadow: 0 0 10px 5px lightgrey;
  }

  border: 1px grey;
}
